
temp_plane_data/1a04e3eab45ca15dd86060f189eb133/model.mtl
temp_plane_data/1a04e3eab45ca15dd86060f189eb133/model.obj
temp_plane_data/1a32f10b20170883663e90eaf6b4ca52/model.mtl
temp_plane_data/1a32f10b20170883663e90eaf6b4ca52/model.obj
temp_plane_data/1a54a2319e87bd4071d03b466c72ce41/images/texture0.jpg
temp_plane_data/1a54a2319e87bd4071d03b466c72ce41/images/texture1.png
temp_plane_data/1a54a2319e87bd4071d03b466c72ce41/model.mtl
temp_plane_data/1a54a2319e87bd4071d03b466c72ce41/model.obj
temp_plane_data/1a6ad7a24bb89733f412783097373bdc/model.mtl
temp_plane_data/1a6ad7a24bb89733f412783097373bdc/model.obj
temp_plane_data/1a9b552befd6306cc8f2d5fe7449af61/images/texture0.png
temp_plane_data/1a9b552befd6306cc8f2d5fe7449af61/images/texture1.png
temp_plane_data/1a9b552befd6306cc8f2d5fe7449af61/images/texture2.png
temp_plane_data/1a9b552befd6306cc8f2d5fe7449af61/images/texture3.png
temp_plane_data/1a9b552befd6306cc8f2d5fe7449af61/images/texture4.png
temp_plane_data/1a9b552befd6306cc8f2d5fe7449af61/model.mtl
temp_plane_data/1a9b552befd6306cc8f2d5fe7449af61/model.obj
training_checkpoints/checkpoint
training_checkpoints/checkpoint-1.data-00000-of-00001
training_checkpoints/checkpoint-1.index
training_checkpoints/checkpoint-10.data-00000-of-00001
training_checkpoints/checkpoint-10.index
training_checkpoints/checkpoint-11.data-00000-of-00001
training_checkpoints/checkpoint-11.index
training_checkpoints/checkpoint-12.data-00000-of-00001
training_checkpoints/checkpoint-12.index
training_checkpoints/checkpoint-13.data-00000-of-00001
training_checkpoints/checkpoint-13.index
training_checkpoints/checkpoint-14.data-00000-of-00001
training_checkpoints/checkpoint-14.index
training_checkpoints/checkpoint-15.data-00000-of-00001
training_checkpoints/checkpoint-15.index
training_checkpoints/checkpoint-16.data-00000-of-00001
training_checkpoints/checkpoint-16.index
training_checkpoints/checkpoint-17.data-00000-of-00001
training_checkpoints/checkpoint-17.index
training_checkpoints/checkpoint-18.data-00000-of-00001
training_checkpoints/checkpoint-18.index
training_checkpoints/checkpoint-19.data-00000-of-00001
training_checkpoints/checkpoint-19.index
training_checkpoints/checkpoint-2.data-00000-of-00001
training_checkpoints/checkpoint-2.index
training_checkpoints/checkpoint-20.data-00000-of-00001
training_checkpoints/checkpoint-20.index
training_checkpoints/checkpoint-21.data-00000-of-00001
training_checkpoints/checkpoint-21.index
training_checkpoints/checkpoint-22.data-00000-of-00001
training_checkpoints/checkpoint-22.index
training_checkpoints/checkpoint-23.data-00000-of-00001
training_checkpoints/checkpoint-23.index
training_checkpoints/checkpoint-24.data-00000-of-00001
training_checkpoints/checkpoint-24.index
training_checkpoints/checkpoint-25.data-00000-of-00001
training_checkpoints/checkpoint-25.index
training_checkpoints/checkpoint-26.data-00000-of-00001
training_checkpoints/checkpoint-26.index
training_checkpoints/checkpoint-27.data-00000-of-00001
training_checkpoints/checkpoint-27.index
training_checkpoints/checkpoint-28.data-00000-of-00001
training_checkpoints/checkpoint-28.index
training_checkpoints/checkpoint-29.data-00000-of-00001
training_checkpoints/checkpoint-29.index
training_checkpoints/checkpoint-3.data-00000-of-00001
training_checkpoints/checkpoint-3.index
training_checkpoints/checkpoint-30.data-00000-of-00001
training_checkpoints/checkpoint-30.index
training_checkpoints/checkpoint-31.data-00000-of-00001
training_checkpoints/checkpoint-31.index
training_checkpoints/checkpoint-32.data-00000-of-00001
training_checkpoints/checkpoint-32.index
training_checkpoints/checkpoint-33.data-00000-of-00001
training_checkpoints/checkpoint-33.index
training_checkpoints/checkpoint-34.data-00000-of-00001
training_checkpoints/checkpoint-34.index
training_checkpoints/checkpoint-35.data-00000-of-00001
training_checkpoints/checkpoint-35.index
training_checkpoints/checkpoint-36.data-00000-of-00001
training_checkpoints/checkpoint-36.index
training_checkpoints/checkpoint-37.data-00000-of-00001
training_checkpoints/checkpoint-37.index
training_checkpoints/checkpoint-38.data-00000-of-00001
training_checkpoints/checkpoint-38.index
training_checkpoints/checkpoint-39.data-00000-of-00001
training_checkpoints/checkpoint-39.index
training_checkpoints/checkpoint-4.data-00000-of-00001
training_checkpoints/checkpoint-4.index
training_checkpoints/checkpoint-40.data-00000-of-00001
training_checkpoints/checkpoint-40.index
training_checkpoints/checkpoint-41.data-00000-of-00001
training_checkpoints/checkpoint-41.index
training_checkpoints/checkpoint-42.data-00000-of-00001
training_checkpoints/checkpoint-42.index
training_checkpoints/checkpoint-43.data-00000-of-00001
training_checkpoints/checkpoint-43.index
training_checkpoints/checkpoint-44.data-00000-of-00001
training_checkpoints/checkpoint-44.index
training_checkpoints/checkpoint-45.data-00000-of-00001
training_checkpoints/checkpoint-45.index
training_checkpoints/checkpoint-46.data-00000-of-00001
training_checkpoints/checkpoint-46.index
training_checkpoints/checkpoint-47.data-00000-of-00001
training_checkpoints/checkpoint-47.index
training_checkpoints/checkpoint-48.data-00000-of-00001
training_checkpoints/checkpoint-48.index
training_checkpoints/checkpoint-49.data-00000-of-00001
training_checkpoints/checkpoint-49.index
training_checkpoints/checkpoint-5.data-00000-of-00001
training_checkpoints/checkpoint-5.index
training_checkpoints/checkpoint-50.data-00000-of-00001
training_checkpoints/checkpoint-50.index
training_checkpoints/checkpoint-51.data-00000-of-00001
training_checkpoints/checkpoint-51.index
training_checkpoints/checkpoint-52.data-00000-of-00001
training_checkpoints/checkpoint-52.index
training_checkpoints/checkpoint-53.data-00000-of-00001
training_checkpoints/checkpoint-53.index
training_checkpoints/checkpoint-54.data-00000-of-00001
training_checkpoints/checkpoint-54.index
training_checkpoints/checkpoint-55.data-00000-of-00001
training_checkpoints/checkpoint-55.index
training_checkpoints/checkpoint-56.data-00000-of-00001
training_checkpoints/checkpoint-56.index
training_checkpoints/checkpoint-57.data-00000-of-00001
training_checkpoints/checkpoint-57.index
training_checkpoints/checkpoint-58.data-00000-of-00001
training_checkpoints/checkpoint-58.index
training_checkpoints/checkpoint-59.data-00000-of-00001
training_checkpoints/checkpoint-59.index
training_checkpoints/checkpoint-6.data-00000-of-00001
training_checkpoints/checkpoint-6.index
training_checkpoints/checkpoint-60.data-00000-of-00001
training_checkpoints/checkpoint-60.index
training_checkpoints/checkpoint-61.data-00000-of-00001
training_checkpoints/checkpoint-61.index
training_checkpoints/checkpoint-62.data-00000-of-00001
training_checkpoints/checkpoint-62.index
training_checkpoints/checkpoint-63.data-00000-of-00001
training_checkpoints/checkpoint-63.index
training_checkpoints/checkpoint-64.data-00000-of-00001
training_checkpoints/checkpoint-64.index
training_checkpoints/checkpoint-65.data-00000-of-00001
training_checkpoints/checkpoint-65.index
training_checkpoints/checkpoint-66.data-00000-of-00001
training_checkpoints/checkpoint-66.index
training_checkpoints/checkpoint-67.data-00000-of-00001
training_checkpoints/checkpoint-67.index
training_checkpoints/checkpoint-68.data-00000-of-00001
training_checkpoints/checkpoint-68.index
training_checkpoints/checkpoint-69.data-00000-of-00001
training_checkpoints/checkpoint-69.index
training_checkpoints/checkpoint-7.data-00000-of-00001
training_checkpoints/checkpoint-7.index
training_checkpoints/checkpoint-70.data-00000-of-00001
training_checkpoints/checkpoint-70.index
training_checkpoints/checkpoint-71.data-00000-of-00001
training_checkpoints/checkpoint-71.index
training_checkpoints/checkpoint-72.data-00000-of-00001
training_checkpoints/checkpoint-72.index
training_checkpoints/checkpoint-73.data-00000-of-00001
training_checkpoints/checkpoint-73.index
training_checkpoints/checkpoint-74.data-00000-of-00001
training_checkpoints/checkpoint-74.index
training_checkpoints/checkpoint-75.data-00000-of-00001
training_checkpoints/checkpoint-75.index
training_checkpoints/checkpoint-76.data-00000-of-00001
training_checkpoints/checkpoint-76.index
training_checkpoints/checkpoint-77.data-00000-of-00001
training_checkpoints/checkpoint-77.index
training_checkpoints/checkpoint-78.data-00000-of-00001
training_checkpoints/checkpoint-78.index
training_checkpoints/checkpoint-79.data-00000-of-00001
training_checkpoints/checkpoint-79.index
training_checkpoints/checkpoint-8.data-00000-of-00001
training_checkpoints/checkpoint-8.index
training_checkpoints/checkpoint-80.data-00000-of-00001
training_checkpoints/checkpoint-80.index
training_checkpoints/checkpoint-81.data-00000-of-00001
training_checkpoints/checkpoint-81.index
training_checkpoints/checkpoint-82.data-00000-of-00001
training_checkpoints/checkpoint-82.index
training_checkpoints/checkpoint-83.data-00000-of-00001
training_checkpoints/checkpoint-83.index
training_checkpoints/checkpoint-84.data-00000-of-00001
training_checkpoints/checkpoint-84.index
training_checkpoints/checkpoint-85.data-00000-of-00001
training_checkpoints/checkpoint-85.index
training_checkpoints/checkpoint-86.data-00000-of-00001
training_checkpoints/checkpoint-86.index
training_checkpoints/checkpoint-87.data-00000-of-00001
training_checkpoints/checkpoint-87.index
training_checkpoints/checkpoint-88.data-00000-of-00001
training_checkpoints/checkpoint-88.index
training_checkpoints/checkpoint-89.data-00000-of-00001
training_checkpoints/checkpoint-89.index
training_checkpoints/checkpoint-9.data-00000-of-00001
training_checkpoints/checkpoint-9.index
training_checkpoints/checkpoint-90.data-00000-of-00001
training_checkpoints/checkpoint-90.index
training_checkpoints/checkpoint-91.data-00000-of-00001
training_checkpoints/checkpoint-91.index
training_checkpoints/checkpoint-92.data-00000-of-00001
training_checkpoints/checkpoint-92.index
training_checkpoints/checkpoint-93.data-00000-of-00001
training_checkpoints/checkpoint-93.index
training_checkpoints/checkpoint-94.data-00000-of-00001
training_checkpoints/checkpoint-94.index
training_checkpoints/checkpoint-95.data-00000-of-00001
training_checkpoints/checkpoint-95.index
training_checkpoints/checkpoint-96.data-00000-of-00001
training_checkpoints/checkpoint-96.index
training_checkpoints/checkpoint-97.data-00000-of-00001
training_checkpoints/checkpoint-97.index
training_checkpoints/checkpoint-98.data-00000-of-00001
training_checkpoints/checkpoint-98.index
training_checkpoints/checkpoint-99.data-00000-of-00001
training_checkpoints/checkpoint-99.index
training_checkpoints/checkpoint-99.index
training_checkpoints/checkpoint-99.data-00000-of-00001
training_checkpoints/checkpoint-98.index
training_checkpoints/checkpoint-98.data-00000-of-00001
training_checkpoints/checkpoint-97.index
training_checkpoints/checkpoint-97.data-00000-of-00001
training_checkpoints/checkpoint-96.index
training_checkpoints/checkpoint-96.data-00000-of-00001
training_checkpoints/checkpoint-95.index
training_checkpoints/checkpoint-95.data-00000-of-00001
training_checkpoints/checkpoint-94.index
training_checkpoints/checkpoint-94.data-00000-of-00001
training_checkpoints/checkpoint-93.index
training_checkpoints/checkpoint-93.data-00000-of-00001
training_checkpoints/checkpoint-92.index
training_checkpoints/checkpoint-92.data-00000-of-00001
training_checkpoints/checkpoint-91.index
training_checkpoints/checkpoint-91.data-00000-of-00001
training_checkpoints/checkpoint-90.index
training_checkpoints/checkpoint-90.data-00000-of-00001
training_checkpoints/checkpoint-9.index
training_checkpoints/checkpoint-9.data-00000-of-00001
training_checkpoints/checkpoint-89.index
training_checkpoints/checkpoint-89.data-00000-of-00001
training_checkpoints/checkpoint-88.index
training_checkpoints/checkpoint-88.data-00000-of-00001
training_checkpoints/checkpoint-87.index
training_checkpoints/checkpoint-87.data-00000-of-00001
training_checkpoints/checkpoint-86.index
training_checkpoints/checkpoint-86.data-00000-of-00001
training_checkpoints/checkpoint-85.index
training_checkpoints/checkpoint-85.data-00000-of-00001
training_checkpoints/checkpoint-84.index
training_checkpoints/checkpoint-84.data-00000-of-00001
training_checkpoints/checkpoint-83.index
training_checkpoints/checkpoint-83.data-00000-of-00001
training_checkpoints/checkpoint-82.index
training_checkpoints/checkpoint-82.data-00000-of-00001
training_checkpoints/checkpoint-81.index
training_checkpoints/checkpoint-81.data-00000-of-00001
training_checkpoints/checkpoint-80.index
training_checkpoints/checkpoint-80.data-00000-of-00001
training_checkpoints/checkpoint-8.index
training_checkpoints/checkpoint-8.data-00000-of-00001
training_checkpoints/checkpoint-79.index
training_checkpoints/checkpoint-79.data-00000-of-00001
training_checkpoints/checkpoint-78.index
training_checkpoints/checkpoint-78.data-00000-of-00001
training_checkpoints/checkpoint-77.index
training_checkpoints/checkpoint-77.data-00000-of-00001
training_checkpoints/checkpoint-76.index
training_checkpoints/checkpoint-76.data-00000-of-00001
training_checkpoints/checkpoint-75.index
training_checkpoints/checkpoint-75.data-00000-of-00001
training_checkpoints/checkpoint-74.index
training_checkpoints/checkpoint-74.data-00000-of-00001
training_checkpoints/checkpoint-73.index
training_checkpoints/checkpoint-73.data-00000-of-00001
training_checkpoints/checkpoint-72.index
training_checkpoints/checkpoint-72.data-00000-of-00001
training_checkpoints/checkpoint-71.index
training_checkpoints/checkpoint-71.data-00000-of-00001
training_checkpoints/checkpoint-70.index
training_checkpoints/checkpoint-70.data-00000-of-00001
training_checkpoints/checkpoint-7.index
training_checkpoints/checkpoint-7.data-00000-of-00001
training_checkpoints/checkpoint-69.index
training_checkpoints/checkpoint-69.data-00000-of-00001
training_checkpoints/checkpoint-68.index
training_checkpoints/checkpoint-68.data-00000-of-00001
training_checkpoints/checkpoint-67.index
training_checkpoints/checkpoint-67.data-00000-of-00001
training_checkpoints/checkpoint-66.index
training_checkpoints/checkpoint-66.data-00000-of-00001
training_checkpoints/checkpoint-65.index
training_checkpoints/checkpoint-65.data-00000-of-00001
training_checkpoints/checkpoint-64.index
training_checkpoints/checkpoint-64.data-00000-of-00001
training_checkpoints/checkpoint-63.index
training_checkpoints/checkpoint-63.data-00000-of-00001
training_checkpoints/checkpoint-62.index
training_checkpoints/checkpoint-62.data-00000-of-00001
training_checkpoints/checkpoint-61.index
training_checkpoints/checkpoint-61.data-00000-of-00001
training_checkpoints/checkpoint-60.index
training_checkpoints/checkpoint-60.data-00000-of-00001
training_checkpoints/checkpoint-6.index
training_checkpoints/checkpoint-6.data-00000-of-00001
training_checkpoints/checkpoint-59.index
training_checkpoints/checkpoint-59.data-00000-of-00001
training_checkpoints/checkpoint-58.index
training_checkpoints/checkpoint-58.data-00000-of-00001
training_checkpoints/checkpoint-57.index
training_checkpoints/checkpoint-57.data-00000-of-00001
training_checkpoints/checkpoint-56.index
training_checkpoints/checkpoint-56.data-00000-of-00001
training_checkpoints/checkpoint-55.index
training_checkpoints/checkpoint-55.data-00000-of-00001
training_checkpoints/checkpoint-54.index
training_checkpoints/checkpoint-54.data-00000-of-00001
training_checkpoints/checkpoint-53.index
training_checkpoints/checkpoint-53.data-00000-of-00001
training_checkpoints/checkpoint-52.index
training_checkpoints/checkpoint-52.data-00000-of-00001
training_checkpoints/checkpoint-51.index
training_checkpoints/checkpoint-51.data-00000-of-00001
training_checkpoints/checkpoint-50.index
training_checkpoints/checkpoint-50.data-00000-of-00001
training_checkpoints/checkpoint-5.index
training_checkpoints/checkpoint-5.data-00000-of-00001
training_checkpoints/checkpoint-49.index
training_checkpoints/checkpoint-49.data-00000-of-00001
training_checkpoints/checkpoint-48.index
training_checkpoints/checkpoint-48.data-00000-of-00001
training_checkpoints/checkpoint-47.index
training_checkpoints/checkpoint-47.data-00000-of-00001
training_checkpoints/checkpoint-46.index
training_checkpoints/checkpoint-46.data-00000-of-00001
training_checkpoints/checkpoint-45.index
training_checkpoints/checkpoint-45.data-00000-of-00001
training_checkpoints/checkpoint-44.index
training_checkpoints/checkpoint-44.data-00000-of-00001
training_checkpoints/checkpoint-43.index
training_checkpoints/checkpoint-43.data-00000-of-00001
training_checkpoints/checkpoint-42.index
training_checkpoints/checkpoint-42.data-00000-of-00001
training_checkpoints/checkpoint-41.index
training_checkpoints/checkpoint-41.data-00000-of-00001
training_checkpoints/checkpoint-40.index
training_checkpoints/checkpoint-40.data-00000-of-00001
training_checkpoints/checkpoint-4.index
training_checkpoints/checkpoint-4.data-00000-of-00001
training_checkpoints/checkpoint-39.index
training_checkpoints/checkpoint-39.data-00000-of-00001
training_checkpoints/checkpoint-38.index
training_checkpoints/checkpoint-38.data-00000-of-00001
training_checkpoints/checkpoint-37.index
training_checkpoints/checkpoint-37.data-00000-of-00001
training_checkpoints/checkpoint-36.index
training_checkpoints/checkpoint-36.data-00000-of-00001
training_checkpoints/checkpoint-35.index
training_checkpoints/checkpoint-35.data-00000-of-00001
training_checkpoints/checkpoint-34.index
training_checkpoints/checkpoint-34.data-00000-of-00001
training_checkpoints/checkpoint-33.index
training_checkpoints/checkpoint-33.data-00000-of-00001
training_checkpoints/checkpoint-32.index
training_checkpoints/checkpoint-32.data-00000-of-00001
training_checkpoints/checkpoint-31.index
training_checkpoints/checkpoint-31.data-00000-of-00001
training_checkpoints/checkpoint-30.index
training_checkpoints/checkpoint-30.data-00000-of-00001
training_checkpoints/checkpoint-3.index
training_checkpoints/checkpoint-3.data-00000-of-00001
training_checkpoints/checkpoint-29.index
training_checkpoints/checkpoint-29.data-00000-of-00001
training_checkpoints/checkpoint-28.index
training_checkpoints/checkpoint-28.data-00000-of-00001
training_checkpoints/checkpoint-27.index
training_checkpoints/checkpoint-27.data-00000-of-00001
training_checkpoints/checkpoint-26.index
training_checkpoints/checkpoint-26.data-00000-of-00001
training_checkpoints/checkpoint-25.index
training_checkpoints/checkpoint-25.data-00000-of-00001
training_checkpoints/checkpoint-24.index
training_checkpoints/checkpoint-24.data-00000-of-00001
training_checkpoints/checkpoint-23.index
training_checkpoints/checkpoint-23.data-00000-of-00001
training_checkpoints/checkpoint-22.index
training_checkpoints/checkpoint-22.data-00000-of-00001
training_checkpoints/checkpoint-21.index
training_checkpoints/checkpoint-21.data-00000-of-00001
training_checkpoints/checkpoint-20.index
training_checkpoints/checkpoint-20.data-00000-of-00001
training_checkpoints/checkpoint-2.index
training_checkpoints/checkpoint-2.data-00000-of-00001
training_checkpoints/checkpoint-19.index
training_checkpoints/checkpoint-19.data-00000-of-00001
training_checkpoints/checkpoint-18.index
training_checkpoints/checkpoint-18.data-00000-of-00001
training_checkpoints/checkpoint-17.index
training_checkpoints/checkpoint-17.data-00000-of-00001
training_checkpoints/checkpoint-16.index
training_checkpoints/checkpoint-16.data-00000-of-00001
training_checkpoints/checkpoint-15.index
training_checkpoints/checkpoint-15.data-00000-of-00001
training_checkpoints/checkpoint-14.index
training_checkpoints/checkpoint-14.data-00000-of-00001
training_checkpoints/checkpoint-13.index
training_checkpoints/checkpoint-13.data-00000-of-00001
training_checkpoints/checkpoint-12.index
training_checkpoints/checkpoint-12.data-00000-of-00001
training_checkpoints/checkpoint-11.index
training_checkpoints/checkpoint-11.data-00000-of-00001
training_checkpoints/checkpoint-10.index
training_checkpoints/checkpoint-10.data-00000-of-00001
training_checkpoints/checkpoint-1.index
training_checkpoints/checkpoint-1.data-00000-of-00001
training_checkpoints/checkpoint
train.py
temp_plane_data/1a9b552befd6306cc8f2d5fe7449af61/model.obj
temp_plane_data/1a9b552befd6306cc8f2d5fe7449af61/model.mtl
temp_plane_data/1a9b552befd6306cc8f2d5fe7449af61/images/texture4.png
temp_plane_data/1a9b552befd6306cc8f2d5fe7449af61/images/texture3.png
temp_plane_data/1a9b552befd6306cc8f2d5fe7449af61/images/texture2.png
temp_plane_data/1a9b552befd6306cc8f2d5fe7449af61/images/texture1.png
temp_plane_data/1a9b552befd6306cc8f2d5fe7449af61/images/texture0.png
temp_plane_data/1a6ad7a24bb89733f412783097373bdc/model.obj
temp_plane_data/1a6ad7a24bb89733f412783097373bdc/model.mtl
temp_plane_data/1a54a2319e87bd4071d03b466c72ce41/model.obj
temp_plane_data/1a54a2319e87bd4071d03b466c72ce41/model.mtl
temp_plane_data/1a54a2319e87bd4071d03b466c72ce41/images/texture1.png
temp_plane_data/1a54a2319e87bd4071d03b466c72ce41/images/texture0.jpg
temp_plane_data/1a32f10b20170883663e90eaf6b4ca52/model.obj
temp_plane_data/1a32f10b20170883663e90eaf6b4ca52/model.mtl
temp_plane_data/1a04e3eab45ca15dd86060f189eb133/model.obj
temp_plane_data/1a04e3eab45ca15dd86060f189eb133/model.mtl
*.pyc
*.stl